
#container{
    height: 750px;
    width: 100%;
    
}

#middle_container{
    background-color: whitesmoke;
    display:inline-block;
    width: 800px;
    height: 100%;
    margin: 0px;
}

#header{
    height: 100px;
    width: 100%;
}
#igra{
    height: 477px;
    width: 750px;
    background-color: silver;
    padding: 0px;
    margin:0px;
    

}
#gornja_leva_ivica{
    height:15px;
    width:15px;
    background-image: url("./slike/ivica_gornja_leva.png");
    background-size: 100% 100%;
    float:left;
}
#gornja_desna_ivica{
    height:15px;
    width:15px;
    background-image: url("./slike/ivica_gornja_desna.png");
    background-size: 100% 100%;
    float:left;
}
.horizontalna_ivica{
    height:15px;
    width:24px;
    background-image: url("./slike/ivica_h.png");
    background-size: 100% 100%;
    float:left;
}
#vertikalna_duga_ivica{
    height:48px;
    width:15px;
    background-image: url("./slike/ivica_v_dugacka.png");
    background-size: 100% 100%;
    float:left;
}
#br_mina1{
    height:34.5px;
    width:19.5px;
    background-image: url("./slike/0b.png");
    background-size: 100% 100%;
    float:left;
    margin: 6px 0px 7.5px 15px;
}
#br_mina2{
    height:34.5px;
    width:19.5px;
    background-image: url("./slike/0b.png");
    background-size: 100% 100%;
    float:left;
    margin: 6px 0px 7.5px 0px;
}
#br_mina3{
    height:34.5px;
    width:19.5px;
    background-image: url("./slike/0b.png");
    background-size: 100% 100%;
    float:left;
    margin: 6px 0px 7.5px 0px;
}
#smajli{
    height:39px;
    width:39px;
    background-image: url("./slike/smajli_ziv.png");
    background-size: 100% 100%;
    float:left;
    margin: 4.5px 267px 4.5px 267px;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#brojac1{
    height:34.5px;
    width:19.5px;
    background-image: url("./slike/0b.png");
    background-size: 100% 100%;
    float:left;
    margin: 6px 0px 7.5px 0px;
}
#brojac2{
    height:34.5px;
    width:19.5px;
    background-image: url("./slike/0b.png");
    background-size: 100% 100%;
    float:left;
    margin: 6px 0px 7.5px 0px;
}
#brojac3{
    height:34.5px;
    width:19.5px;
    background-image: url("./slike/0b.png");
    background-size: 100% 100%;
    float:left;
    margin: 6px 15px 7.5px 0px;
}
#levi_spoj{
    height:15px;
    width:15px;
    background-image: url("./slike/ivica_levi_spoj.png");
    background-size: 100% 100%;
    float:left;
}
#desni_spoj{
    height:15px;
    width:15px;
    background-image: url("./slike/ivica_desni_spoj.png");
    background-size: 100% 100%;
    float:left;
}
#vertikalna_kratka_ivica{
    height:24px;
    width:15px;
    background-image: url("./slike/ivica_v_kratka.png");
    background-size: 100% 100%;
    float:left;
}

.dugmici_zavrseno{
    pointer-events: none;
}
.polje{
    height:24px;
    width:24px;
    background-image: url("./slike/polje_nepoznato.png");
    background-size: 100% 100%;
    float:left;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.sakriveno_polje{
    display:none;
}
.otvoreno_polje{
    height:24px;
    width:24px;
    background-image: url("./slike/polje_nepoznato.png");
    background-size: 100% 100%;
    float:left;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.zastavica_polje{
    height:24px;
    width:24px;
    background-image: url("./slike/polje_nepoznato.png");
    background-size: 100% 100%;
    float:left;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#donja_leva_ivica{
    height:15px;
    width:15px;
    background-image: url("./slike/ivica_donja_leva.png");
    background-size: 100% 100%;
    float:left;
}
#donja_desna_ivica{
    height:15px;
    width:15px;
    background-image: url("./slike/ivica_donja_desna.png");
    background-size: 100% 100%;
    float:left;
}
#footer{
    height: 100px;
    width: 100%;
}